.App {
  text-align: center;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,237,217,1) 0%, rgba(81,175,255,1) 25%, rgba(78,183,255,1) 50%, rgba(81,175,255,1) 75%, rgba(62,237,217,1) 100%); */
  background: rgb(183,255,254);
  background: linear-gradient(90deg, rgba(183,255,254,0.5956583316920518) 0%, rgba(140,246,190,0.7189076314119398) 25%, rgba(127,210,219,0.648879620207458) 49%, rgba(140,246,190,0.6432773793110995) 75%, rgba(183,255,254,0.4051821412158614) 100%);
  height: 200vh;
  width: 100vw;
  overflow-y: scroll;
  margin-top: 0vh;
}

.App table {
  border-spacing: 0px;
}

.SurveyBuilder {
  z-index: 10;
}

.SurveyTitleBlock {
  position: relative;
  height: 15vh;
  margin-top: 20vh;
  background-color: whitesmoke;
  border-radius: 3%;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.384);
}

.QuestionEdit {
  position: relative;
  height: fit-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 5vh;
  background-color: whitesmoke;
  border-radius: 3%;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.384);
}

.down-button {
  background-image: url("./icons/down.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
  border-color: rgba(255, 255, 255, 0);
}

.up-button {
  background-image: url("./icons/up.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
  border-color: rgba(255, 255, 255, 0);
}

.del-button {
  background-image: url("./icons/delete.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: 0.5vw;
  border-color: rgba(255, 255, 255, 0);
}

button:hover {
  border-color: rgb(0, 0, 0);
}

.QuestionTypeBox {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.QuestionTypeBox select {
  width: 40vw;
  height: 3.5vh;
}

.QuestionEditContentMaxWidth {
  max-width: 40vw;
}

.QuestionEditContentItem {
  width: 40vw;
  max-width: 40vw;
  max-height: 50vh;
  overflow-y: scroll;
  height: 3.5vh;
  margin-top: 2vh;
}

.leftmargin {
  margin: 50px
}

.MatrixLikert {
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(10px + 1vmin);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.MatrixLikert input {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* border-color: whitesmoke; */
   /* border-style: none; */
   /* background-color: whitesmoke; */
   width: 20vw;
   border-radius: 2%;
   margin-top: 2vh;
}

.MatrixLikert button {
  margin: 2px
}

.SurveyTitleBlock input {
   font-size: xx-large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-color: whitesmoke;
   border-style: none;
   background-color: whitesmoke;
   width: 40vw;
   border-radius: 2%;
   margin-top: 2vh;
   margin-left: 1vw;
}

.Navigation {
  text-align: center;
  background: rgba(245, 245, 245, 0.966);
  position: fixed;
  margin-top: 0vh;
  height: 12vh;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.425);
  width: 100vw;
  z-index: 20;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
