th{
    font-size: 150%;
    background-color: green;
    vertical-align: bottom;
    border:2px solid black;
  
  }
  
  tbody{
    width:fit-content;
  
  
  }
  
  .td1{
    border:2px solid black;
  }
  
  .table1{
    margin-left: 1%;
    margin-top: 10%;
  }
  
  .survey{
    position: relative;
    height: 45vh;
    margin-top: 8vh;
    font-style: italic;
    text-align: center;
    padding-top:8vh;
    background-color: rgba(30,40,180,0.3);
    border-radius: 6%;
    width: 35vw;
    margin-top: 33%;
    margin-left: 90%;
    margin-right: auto;
  }